			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">mirror</span>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li id="navbarHome"><a href="/">Home</a></li>
							<li id="navbarStats"><a href="/stats">Team Stats</a></li>
							<li id="navbarMyActivity"><a href="/activity/my">My Activity
						<% if(@user && @user.myRecentActivityCount>0) %>
							<span class="badge badge-important"><%= @user.myRecentActivityCount %></span>
						<% end %>
							</a></li>
						<% if(@user && @user.everyoneScope>=3) %>
							<li id="navbarTeamActivity"><a href="/activity/team">Team Activity
						<% if(@user.allRecentActivityCount>0) %>
							<span class="badge"><%= @user.allRecentActivityCount %></span>
						<% end %>
							</a></li>
						<% end %>
						<% if(@user && @user.owner?) %>
							<li id="navbarAdmin"><a href="/admin">Administration</a></li>
						<% end %>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/logout">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>  
